<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact us</title>
  <link rel="stylesheet" href="/styles/contact.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap" rel="stylesheet">
</head>
<body>

  <div class="logo">
    <a href="/"><img src="/images/POSTIFY logo.svg" alt="POstify logo" class="logo" title="POSTIFY"></a>
  </div>
  <p class="contact-us">CONTACT US</p>

  <div class="content-grid">
    <div>
      <p class="content">"We'd love to hear from you! For any feedback, queries, or suggestions about <span class="postify">Postify</span>, feel free to reach out through the following ways."</p>

      <div class="email-grid">
        <div class="email-title"><p>Email :</p></div>
        <div class="email">
          <a href="https://gmail.com" target="_blank" class="mail-id">jeyajoti108@gmail.com</a>
        </div>
        <div class="icon-grid">
          <div>
            <a href="https://gmail.com"><img src="/images/email-icon.svg" alt="email logo" title="Email" class="icon"></a>
          </div>
          <div>
            <a href="https://www.linkedin.com/in/jeya-jothi-841277211/"><img src="/images/linkedIn icon.svg" alt="linkedin logo" title="LinkedIn" class="icon"></a>
          </div>
          <div>
            <a href=""><img src="/images/instagram-icon.svg" alt="insta logo" title="Instagram" class="icon"></a>
          </div>
          <div>
            <a href="https://au.pinterest.com/jeyajothi2003/"><img src="/images/pinterest icon.svg" alt="pinterest logo" title="Pinterest" class="icon"></a>
          </div>
        </div>
      </div>
      <p class="thankyou">"Thank you for using Postify! Your feedback helps us grow and improve."</p>
    </div>
    <div class="computer-guy-div">
      <img src="/images/Compuet guy.svg" alt="Compuet guy" class="post-image-anime" >
    </div>
    
  </div>

</body>
</html>